* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapperQuadrados {
    /* background-color: red; */
    margin: 0 auto;
    width: 80%;
    padding-top: 4vh;
}

.setaComparacao{
    margin-bottom: 5vw;
    width: 3vw;
    height: auto;
}

.quadrados {
    /* border-radius: 10px; */
    /* border: 2px solid gray;   */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quadrado {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.basePorcentagens{
display: flex;
justify-content: space-around;
align-items: center;
}

.basePorcentagens p{
    font-size: 1.2vw;
font-weight: 500;
}

.imgQuadrado {
    width: 17vw;
    height: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentual {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.cam{
    width: auto;
    height: 100%;
}

.btns {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 1.2vh;
    border: 2px solid #0E758C;
}

.btn_revisar {
    width: 180px;
    background-color: #0E758C;
    overflow: visible;
    height: 60px;
    border: none;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn_revisar:hover {
    opacity: 0.9;
}

.btn_revisar::after {
    display: none;
}

.btn_revisar {
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}